/abastecimentos/templates_c/
/combustiveis/templates_c/
/marcas/templates_c/
/modelos/templates_c/
/motoristas/templates_c/
/percursos/templates_c/
/recibos_combustiveis/templates_c/
/relatorios/templates_c/
/tipos_combustiveis/templates_c/
/usuarios/templates_c/
/viaturas/templates_c/
/nbproject/
/templates_c/