RewriteEngine On
# Se o arquivo solicitado não existe (!-f)
RewriteCond %{REQUEST_FILENAME} !-f
# e também não é um diretório (-d)
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^abastecimento/?$ controller/abastecimento.php
RewriteRule ^combustivel/?$ controller/combustivel.php
RewriteRule ^marca/?$ controller/marca.php
RewriteRule ^modelo/?$ controller/modelo.php
RewriteRule ^motorista/?$ controller/motorista.php
RewriteRule ^percurso/?$ controller/percurso.php
RewriteRule ^recebimentocombustivel/?$ controller/recebimentocombustivel.php
RewriteRule ^relatorio/?$ controller/relatorio.php
RewriteRule ^tipocombustivel/?$ controller/tipocombustivel.php
RewriteRule ^usuario/?$ controller/usuario.php
RewriteRule ^viatura/?$ controller/viatura.php

RewriteRule ^conexao/?$ model/conexao.php
RewriteRule ^executar/?$ model/executar.php
RewriteRule ^logout/?$ model/logout.php